/Pd_uzd1/nbproject/private/
/Pd_uzd1/build/
/Pd_uzd2/nbproject/private/
/Pd_uzd2/build/
/Pd_uzd3/nbproject/private/
/blackjack/build/
/blackjack/dist/
/Pd_uzd3/build/
/Pd_uzd5/nbproject/private/
/Pd_uzd5/build/
/DB/nbproject/private/
/DB/build/
/Day10/nbproject/private/
/Day10/build/
/Autentica/nbproject/private/
/Autentica/build/
/Autentica/dist/
/Autentica_1/nbproject/private/
/Autentica1/nbproject/private/
/Autentica2/nbproject/private/
/Autentica2/build/